* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
    position: absolute;
    width: 30vw;
    top: 15%;
    left: 33.33%;
}

.game-board {
  width: 100%;
  height: 100vh;
  border-bottom: 15px solid #337a35;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.wolf {
  position: absolute;
  bottom: 0;
  width: 150px;
  animation: wolf-animation 3s infinite linear;
}

.maite {
  width: 80px;
  position: absolute;
  bottom: 0;
  margin-bottom: -2px;
}

.clouds {
  width: 550px;
  position: absolute;
  top: 30px;
  animation: clouds-animation 20s infinite linear;
}

.clouds-2 {
  height: 252px;
  position: absolute;
  top: 30px;
  animation: clouds-2-animation 30s infinite linear;
}

.grass,
.tree-1 {
  width: 180px;
  right: -350px;
  position: absolute;
  bottom: 0;
  animation: tree-animation 10s infinite linear;
}

.tree {
  width: 320px;
  position: absolute;
  bottom: 0;
  animation: tree-animation 10s infinite linear;
}

.tree-1 {
  animation-delay: 4s;
}

.grass {
  animation-delay: 6.5s;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes wolf-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}

@keyframes clouds-2-animation {
  from {
    right: -1550px;
  }
  to {
    right: 100%;
  }
}

@keyframes tree-animation {
  from {
    right: -350px;
  }
  to {
    right: 100%;
  }
}
